---
const today = new Date();
---

<footer class="footer">
	{/*
		Prior to 1989, including a copyright notice on a copyrighted work was required under U.S. law. 
		Since 1989, every work by an author is automatically copyrighted.
		In case you need the notice, content on my website is copyrighted by me, the author of the website. 
	 */}
	<p>
		Copyright &copy; { today.getFullYear() }, by Mark Drake.
	</p>
</footer>

<style lang="scss">
footer.footer {
	max-width: 66ch;
	margin: 6rem auto 0 auto;
}
</style>