---
import Breadcrumbs from "./../components/Breadcrumbs.astro";

export interface Props {
	breadcrumbs: boolean;
}

const { breadcrumbs = true } = Astro.props;
---

<header class:list={[{"home": !breadcrumbs}]}>

	<nav>
		<ul>
			<li class="logo">
				<a href="/">
					<svg aria-label="Mark Drake"><use href="#icon-logo"></use></svg>
					{ !breadcrumbs &&
						<p>
							<span>Web Development,</span>
							<span>Extended Reality,</span>
							<span>&amp; Dangerously Free Speech</span>
						</p>
					}
				</a>
			</li>
			{ breadcrumbs &&
				<Breadcrumbs />
			}
		</ul>
	</nav>

	<aside>
		<ul>
			{ !breadcrumbs &&
				<li style="margin-right:1rem">Follow Mark Drake at:</li>
			}
			<li>
				<a href="https://twitter.com/themarkdrake" style="color: var(--social-twitter)" target="_blank">
					<svg aria-label="twitter"><use href="#icon-twitter"></use></svg>
				</a>
			</li>
			<li>
				<a href="https://www.youtube.com/@themarkdrake" style="color: var(--social-youtube)" target="_blank">
					<svg aria-label="youtube"><use href="#icon-youtube"></use></svg>
				</a>
			</li>
			<li>
				<a style="color: var(--social-rumble)" target="_blank">
					<svg aria-label="rumble"><use href="#icon-rumble"></use></svg>
				</a>
			</li>
			<li>
				<a href="https://www.linkedin.com/in/themarkdrake/" style="color: var(--social-linkedin)" target="_blank">
					<svg aria-label="linkedin"><use href="#icon-linkedin"></use></svg>
				</a>
			</li>
		</ul>	
	</aside>

</header>

<style lang="scss">
header {
	max-width: 56.8888888889rem;
	margin: 3rem auto;
	display: flex;
	justify-content: space-between;
}

.logo {

	> a {
		color: var(--foregroundnpm );
		text-decoration: none;
		display: flex;

		&:visited {
			color: var(--foregroundnpm );
		}

		p {
			margin: 0;
			display: flex;
			flex-direction: column;
			line-height: 26.6666666667px;
			font-weight: 700;
		}
	}

	svg {
		display: block;
		height: 80px;
		width: 80px;
		margin-right: 1rem;
	}
}

nav {
	font-size: 1rem;
	line-height: 1;
	max-width: 56.8888888889rem;
	margin-bottom: 2rem;

	> ol,
	> ul {
		display: flex;
		align-items: center;
		padding: 0;
		list-style: none;
		list-style: none;
		margin: 0;
		
		> li {
			flex-grow: 0;
			flex-shrink: 0;
			margin: 0;

			+ li {
				margin-left: 1rem;
			}
		}

		ul {
			display: none;
		}
	}
}

aside {
	ul {
		list-style: none;
		display: flex;
		align-items: center;
		padding: 0;
		margin: 0;

		li {
			margin: 0;
		}

		svg {
			width: 3rem;
			height: 3rem;
			padding: .5rem;
			box-sizing: border-box;
			display: block;
		}	

		a {
			> svg {
				color: var(--foreground);
			}

			&:hover,
			&:focus {
				> svg {
					color: unset;
				}
			}

		}
	}
}

/*
	For the home page only, we drop each column to it's own row and center align them.
*/
header.home {
	flex-direction: column;
	align-items: center;
}
</style>