/*
	Deafaults and resets
*/
html {
    font-family: Open Sans, sans-serif;
	font-size: 18px;
	background-color: var(--background);
	color: var(--foreground);
}

h1, h2, h3, h4, h5, h6,
p,
td, dd, dt, dl,
li {
	font-size: 1rem;
	line-height: 1.5;
	margin-top: 0;
}

h1, h2, h3, h4, h5, h6,
p {
	margin-bottom: 1.5rem;
}

td, dd, dt, dl,
li {
	margin-bottom: 0.75rem;
}

a {
	color: var(--foreground-link);
	text-decoration: none;

	&:visited {
		color: var(--foreground-link-visited);
	}
}

/*
	Styles
*/
.heading {
	font-size: 2.25rem;
	font-weight: bold;
	max-width: 60ch;
	line-height: 1.2;
}

.subheading {
	font-size: 1.75rem;
	font-weight: bold;
	max-width: 60ch;
	line-height: 1.2;
}