/*
	Deafaults and resets
*/
html {
    font-family: Open Sans, sans-serif;
	font-size: 18px;
	background-color: var(--background);
	color: var(--foreground);
}

h1, h2, h3, h4, h5, h6,
p,
td, dd, dt, dl,
li {
	font-size: 1rem;
	line-height: var(--line-height);
	margin-top: 0;
}

h1, h2, h3, h4, h5, h6,
ul, ol,
p {
	margin-bottom: var(--margin);
}

td, dd, dt, dl,
li {
	margin-bottom: 0.75rem;
}

a {
	color: var(--foreground-link);
	text-decoration: none;

	&:visited {
		color: var(--foreground-link-visited);
	}
}

/*
	Styles
*/
.billboard {
	font-size: 4.5rem;
	font-weight: bold;
	max-width: 60ch;
	line-height: 1;

	@media screen and (max-width: 59.99999rem) {
		font-size: 3.5rem;
	}
}

.heading {
	font-size: 2.25rem;
	font-weight: bold;
	max-width: 60ch;
	line-height: 1.25;

	@media screen and (max-width: 59.99999rem) {
		font-size: 1.75rem;
	}
}

article > h2,
article > h3,
.subheading {
	font-size: 1.75rem;
	font-weight: bold;
	max-width: 60ch;
	line-height: 1.25;
	margin-top: 3.25rem;

	@media screen and (max-width: 59.99999rem) {
		font-size: 1.25rem;
		margin-top: 2.75rem;
	}
}

blockquote {
	margin: var(--margin) 0;
	padding: 1rem 0 0.01px 2rem;
	border-left: 3px solid var(--borders);
	opacity: 0.666;
}